@import "../../styles/variables";

#footer{
    background-color: black;
    color: #fff;
    padding: 4rem;
    .container{
        width: 85vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        p{
            padding: 2rem;
            font-size: 1rem;
            width: 30vw;
        }
        .iconBox{
            display: flex;
            .icons{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .icon{
                    font-size: 2rem;
                }
                h4{
                    margin: 1rem;
                    text-align: center;
                }
            }
        }
    }
    h5{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 400;
    }
}
//? ################################### Responsiveness ###############################################
@media(max-width:850px){
    #footer{
        .container{
            flex-direction: column;
            p{
                // padding: 0;
                width: 100%;
                text-align: center;
            }
            .iconBox{
                justify-content: center;
            }
        }
    }
}
@media(max-width:420px){
    #footer{
        padding: 3rem 0rem;
        .container{
            flex-direction: column;
            p{
                padding: 0;
            }
            .iconBox{
                padding-top: 2rem;
            }
        }
    }
}
